.comments{
  overflow-y: auto;
  word-break: brak-word;
  padding: 0 2rem;
  margin-top: .8rem;
  box-shadow: 1px -4px 11px -8px #333;
}

.single.comments{
  padding: 0px;
}


.comments li{
  margin-bottom:  .5rem;
  margin-top: .5rem;
  line-height: 1.2;
}

